@inherits LayoutComponentBase

<div class="page">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
    <main>
        <div class="container px-4 col-8 mx-auto p-4 py-md-5">
            @Body
        </div>
    </main>
</div>
